<ActionBar title="My App"> </ActionBar>

<GridLayout>
  <CollectionView [items]="items">
    <ng-template let-item="item">
      <GridLayout class="white-background">
        <StackLayout [nsRouterLink]="['/item', item.id]">
          <Label [text]="item.name" class="text-lg text-gray-500 p-4"></Label>
        </StackLayout>
      </GridLayout>
    </ng-template>
  </CollectionView>
</GridLayout>

<CollectionView [items]="items">
  <ng-template let-item="item">
    <StackLayout [nsRouterLink]="['/item', item.id]">
      <Label [text]="item.name" class="text-lg text-gray-500 p-4"></Label>
    </StackLayout>
  </ng-template>
</CollectionView>

<!-- <GridLayout>
  <CollectionView [items]="items" itemTemplateSelector="templateSelector">
    <ng-template let-item="item" let-odd="odd" let-i="index" templateSelector="templateSelector">
      <GridLayout class="white-background">
        <StackLayout [nsRouterLink]="['/item', item.id]">
          <Label [text]="item.name" class="text-lg text-gray-500 p-4"></Label>
        </StackLayout>
      </GridLayout>
    </ng-template>
  </CollectionView>
</GridLayout> -->

